// --------------------------------------------------
//
//   ANNUAL REPORT STYLES
//
// --------------------------------------------------





// --------------------------------------------------
//   VARIABLES
// --------------------------------------------------
@brand-tan:      #bdad86;
@brand-maroon:   #9c422b;
@brand-blue:     #508099;

// --------------------------------------------------
//   GENERIC
// --------------------------------------------------
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: @headings-font-family;
  color: #555;
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

ul, ol {
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

.bg-brand-blue {
  background-color: darken(@brand-blue, 20%);
}

.bg-brand-maroon {
  background-color: @brand-maroon;
}

// --------------------------------------------------
//   MAST
// --------------------------------------------------
.mast {
  .navbar {
    .brand {
      padding: 0;
      width: 350px;
      display: block;
      float: none;
      img:first-child {
        margin: 0;
        float: none;
      }
    }
    .nav > li > a {
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 0;
      color: #666;
      &:hover {
        color: darken(#666, 20%);
      }
    }
  }
}

// --------------------------------------------------
//   HERO
// --------------------------------------------------
.hero {
  .background {
    background-image: url(../images/bg-hero.jpg);
    opacity: 1;
  }
}

.hero-content {
  padding: 20px 40px;
  background: fade(@brand-maroon, 80%);
  h2,
  p,
  a {
    color: #fff;
  }
  h2 {
    margin-bottom: 20px;
    em {
      font-weight: 300;
      font-style: normal;
    }
    &:after {
      content: '';
      margin: 20px 0 0 0;
      width: 80px;
      display: block;
      border-bottom: 9px solid #fff;
    }
  }
  a {
    font-weight: 600;
    text-decoration: underline;
  }
}

// --------------------------------------------------
//   HERO DIVIDERS & HERO BACKGROUNDS
// --------------------------------------------------
.hero-divider {
  .holder {
    height: 500px;
  }
}

.hero-bg {
  height: 500px;
  background: 50% 50% no-repeat;
  background-size: cover;
  &.syria {
    background-image: url(../images/bg-photo-syria.jpg);
  }
  &.haiyan {
    background-image: url(../images/bg-photo-haiyan.jpg);
  }
  &.sandy {
    background-image: url(../images/bg-photo-sandy.jpg);
  }
  &.wildfires {
    background-image: url(../images/bg-photo-wildfires.jpg);
  }
  &.mission {
    background-image: url(../images/bg-photo-mission.jpg);
  }
}

// --------------------------------------------------
//   CONTENT DIVIDERS
// --------------------------------------------------
.content-divider {
  text-align: center;
  h3 {
    margin-bottom: 50px;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    font-size: 18px;
    line-height: 1.75;
  }
}

// --------------------------------------------------
//   EXECUTIVE LETTERS
// --------------------------------------------------
.executive-letter {
  .executive-photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 8px solid #fff;
  }
  h2 {
    margin-bottom: 45px;
    line-height: 1;
    small {
      color: @brand-tan;
    }
    &:after {
      content: '';
      margin: 20px 0 0 0;
      width: 80px;
      display: block;
      border-bottom: 9px solid #555;
    }
  }
  ul {
    .font(16px);
  }
  li {
    .line-height(29.6px);
  }
}

// --------------------------------------------------
//   FUND AT A GLANCE
// --------------------------------------------------
.fund-glance {
  h2 {
    small {
      color: @brand-maroon;
    }
  }
  p {
    margin-top: 0;
  }
  .fund-photo {
    border: 8px solid #fff;
  }
}

.fund-info {
  margin: 20px 0;
  padding: 25px 0;
  border: 1px solid #ddd;
  border-width: 1px 0;
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #555;
  }
}

.fund-grants {
  margin: 50px 0;
  padding: 0;
  list-style-type: none;
	counter-reset: li;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
  > li {
    margin-bottom: 20px;
    padding-left: 60px;
    min-height: 130px;
    position: relative;
    &:before {
      content: counter(li); /* Use the counter as content */
      counter-increment: li; /* Increment the counter by 1 */
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      .font(18px);
      font-weight: bold;
      line-height: 36px;
      text-align: center;
      color: @inverse;
      background-color: @concrete;
      border: 2px solid @asbestos;
      border-radius: 50%;
    }
  }
}

// --------------------------------------------------
//   FINANCES
// --------------------------------------------------
.finances {
  h2 {
    margin-bottom: 40px;
    color: @brand-tan;
  }
  h5 {
    font-family: @font-family-base;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: @brand-tan;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
  .table {
    margin-bottom: 60px;
    th {
      text-align: center;
    }
    .text-bold {
      font-weight: 800;
    }
    .text-indent {
      padding-left: 40px;
    }
  }
}

// --------------------------------------------------
//   DONORS
// --------------------------------------------------
.donors {
  h3 {
    margin-bottom: 50px;
    font-family: @headings-font-family;
  }
  li {
    list-style-type: square;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
}

// --------------------------------------------------
//   COUNCIL & BOARD
// --------------------------------------------------
.council-board {
  .list {
    text-align: center;
    ul {
      padding: 0;
      list-style-type: none;
    }
  }
}

// --------------------------------------------------
//   LEADERSHIP & STAFF
// --------------------------------------------------
.leadership {
  .background {
    background-image: url(../images/bg-photo-leadership.jpg);
    opacity: 1;
  }
}

.leadership-content {
  padding: 20px 40px;
  background: fade(@brand-blue, 90%);
  h2 {
    color: #fff;
  }
  ul {
    padding: 0;
    list-style-type: none;
    color: #fff;
  }
}

// --------------------------------------------------
//   QUOTES
// --------------------------------------------------
.quotes {
  .quote {
    .quote-text {
      font-size: 24px;
    }
    .quote-author {
      letter-spacing: 0;
    }
    .quote-author-name {
      line-height: 1.5;
      em {
        font-style: normal;
        text-transform: uppercase;
      }
    }
  }
}

// --------------------------------------------------
//   PARTNERS
// --------------------------------------------------
.partners {
  .feature {
  }
  .partner {
    margin-top: 30px;
    padding-top: 120px !important;
    h6 {
      font-size: 22px;
    }
  }
}

// --------------------------------------------------
//   MISSION & VISION
// --------------------------------------------------
.mission-vision {
  > * {
    margin-top: 40px;
  }
  h2 {
    color: @brand-maroon;
  }
  .lead {
    margin-bottom: 50px;
    text-align: left;
  }
  h6 {
    .font(22px, @base);
    font-family: @headings-font-family;
    font-weight: 700;
    margin-bottom: 14px;
    text-transform: none;
    color: @brand-tan;
    border-bottom: 2px solid;
  }
}

// --------------------------------------------------
//   FOOTER
// --------------------------------------------------
.footer {
  .info {
    p {
      .font(14px);
    }
  }
}